<div id="wrapper">
  <div class="row">
    <h1>Conway's game of life</h1>
    <!-- <form role="form" class="form-inline">
      <div class="well clearfix">
        <div class="col-md-10">
          <div class="form-group">
            <label for="vsize">Vertical cells</label>
            <input type="text" class="form-control col-md-2" id="vsize" ng-model="board.size.v">
          </div>
          <div class="form-group">
            <label for="hsize">Horizontal cells</label>
            <input type="text" class="form-control" id="hsize" ng-model="board.size.h">
          </div>
        </div>
        <div class="col-md-2">
          <button type="text" class="btn btn-primary" id="toggle" ng-click="sym.toggle">
            Start
          </button>
          <button type="text" class="btn btn-cancel" id="toggle" ng-click="sym.reset">
            Reset Foo!
          </button>
        </div>
      </div>
    </form> -->
  </div>
  <svg>
    <rect rx="5" ry="5" ng-repeat="cell in board.cells" ng-click="toggle(cell)"
          ng-class="board.class(cell)"
          ng-attr-x="{{ cell.posX }}"
          ng-attr-y="{{ cell.posY }}"
          ng-attr-width="{{ cell.l }}"
          ng-attr-height="{{ cell.l }}">
    </rect>
  </svg>
  <button type="text" class="btn btn-default" id="toggle" ng-click="startSym()">
    Start
  </button>
</div>
